@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");

.home-explore-btn {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -20%);

  z-index: 3;
}

.home-explore-btn button {
  background-color: var(--color-brand);
  padding: 1rem;
  width: 25rem;

  font-size: 2rem;
  border-radius: 20px;
  border: 3px solid #0f0f0f;
  box-shadow: 4px 4px 4px 4px #0f0f0f;
  background-color: #198754;
  transition: color 1.5s;
}

.home-explore-btn button:hover {
  color: white;
}

.home-cover-image img {
  opacity: 0.5;
  height: 99vh;
  width: 100%;
}
