.register-text{
    background-color: white;
    border-radius: 8px;
}

.register{
    margin: 15%;
    margin-top: 10%;
}

.register-fields{
    margin-top: 20%;
    display: flex;
    flex-direction: column;
}

.register-button button{
     border-radius: 5px;
     background-color: #624F82;
     display: flex;
     align-items: center;
     justify-content: center;
     margin-top: 8%;
     padding: 0.8vh 6vw;
     font-weight: 700;
     font-size: 1.3rem;
}

.register-link{
    font-size: 0.5rem;

}

.register-sign-fields{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
}



.register-sign{
    margin: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
}
