/* 
====================
Component Container
==================== */
.product {
  display: grid;
  grid-template-columns: 2fr 3fr;
  column-gap: 2rem;
  width: 75vw;

  position: absolute;
  top: 51%;
  left: 50%;
  transform: translate(-50%, -49%);

  font-size: 1.25rem;
}

.product-container {
  padding: 0.5rem;
}

.product-title {
  font-style: italic;
  font-weight: bold;
  font-size: 3.5rem;
}

.product-price {
  font-size: 1.5rem;
  margin-bottom: 5vh;
}

.product-size-label,
.product-quantity-label {
  font-size: 1.75rem;
}

/* 
=================== 
Size Dropdown Menu 
===================
*/
.product-size-container {
  width: 15vw;
  margin-bottom: 6vh;
}

#dropdown-size-button {
  width: 100%;
  background-color: transparent;
  border: 2px solid white;
  padding: 1rem;

  color: white;
  text-align: left;
  text-indent: 0.5rem;
  font-size: 1.5rem;
}

.product-dropdown-items {
  background-color: #2b3137;
  list-style-type: none;

  border: 2px solid white;
  border-radius: 20px;
  margin-top: 8px;
}

.product-dropdown-items li {
  padding: 1rem;
}

.product-dropdown-items li a {
  color: white;
  text-align: left;
  text-indent: 0.5rem;
  font-size: 1.5rem;

  text-decoration: none;
}

/*
============== 
Product Image 
==============
*/

.product-image-container {
  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 4px 4px rgba(0, 0, 0, 0.4);
}

.product-image {
  border: 1px solid black;
  height: 90vh;
}

.product-atc-container {
  width: 100%;
  margin: 1rem auto;
}

.product-atc-container button {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: 1rem;

  width: 100%;
  font-size: 1.5rem;
}

.product-details-points li span {
  font-weight: bold;
  text-decoration: underline;
}

.product-details-points {
  list-style-position: inside;
  margin-left: 1rem;
}

.product-shopping-info {
  margin: 2rem auto;
}
